### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

Segmentation.ipynb
2015_BOE_Chiu
Labels
y/automaticLayersDME
y/automaticLayersNormal
y/manualLayers2
# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

